---
---

@charset "utf-8";

@import "so-simple/functions";
@import "so-simple/variables";
@import "so-simple/notices";

/* Colors */
$base-color: #404040 !default; /* dark grey */
$text-color: #404040 !default; /* dark grey */
$accent-color: #191970 !default; /* midnight blue */
$nav-color: #fff !default; /* white */
$background-color: #FFE4C4 !default; /* bisque */
$nav-background-color: #626262 !default; /* medium grey */
$code-background-color: tint($base-color, 95%) !default;
$border-color: #626262 !default; /* medium grey */

$primary-color: #fff !default; /* white */
$success-color: #34c759 !default; /* bright green */
$warning-color: #ffcc00 !default; /* bright yellow */
$danger-color: #ff3b30 !default; /* bright red */
$info-color: #5ac8fa !default; /* bright light blue */

/* Syntax highlighting (base16) colors */
$base00: #fafafa !default; /* white */
$base01: #073642 !default; /* very dark cyan/grey */
$base02: #586e75 !default; /* lighter dark cyan/grey */
$base03: #657b83 !default; /* medium greyish blue */
$base04: #839496 !default; /* light greyish blue */
$base05: #586e75 !default; /* greyish blue */
$base06: #eee8d5 !default; /* beige */
$base07: #fdf6e3 !default; /* lighter beige */
$base08: #dc322f !default; /* red */
$base09: #cb4b16 !default; /* burnt orange */
$base0a: #b58900 !default; /* faded yellow/ ochre */
$base0b: #859900 !default; /* faded green */
$base0c: #2aa198 !default; /* teal */
$base0d: #268bd2 !default; /* medium blue */
$base0e: #6c71c4 !default; /* medium purple */
$base0f: #2aa198 !default; /* teal */

@import "so-simple/skin";
