---
---

@charset "utf-8";

@import "so-simple/functions";
@import "so-simple/variables";
@import "so-simple/notices";

/* Colors */
$base-color: #404040 !default; /* dark grey */
$text-color: #404040 !default; /* dark grey */
$accent-color: #191970 !default; /* midnight blue */
$nav-color: #fff !default; /* white */
$background-color: #FFE4C4 !default; /* bisque */
$nav-background-color: #626262 !default; /* light grey */
$code-background-color: tint($base-color, 95%) !default;
$border-color: tint($base-color, 80%) !default;

$primary-color: #fff !default; /* white */
$success-color: #34c759 !default; /* bright green */
$warning-color: #ffcc00 !default; /* bright yellow */
$danger-color: #ff3b30 !default; /* bright red */
$info-color: #5ac8fa !default; /* bright light blue */

/* Syntax highlighting (base16) colors */
$base00: #fafafa !default;
$base01: #073642 !default;
$base02: #586e75 !default;
$base03: #657b83 !default;
$base04: #839496 !default;
$base05: #586e75 !default;
$base06: #eee8d5 !default;
$base07: #fdf6e3 !default;
$base08: #dc322f !default;
$base09: #cb4b16 !default;
$base0a: #b58900 !default;
$base0b: #859900 !default;
$base0c: #2aa198 !default;
$base0d: #268bd2 !default;
$base0e: #6c71c4 !default;
$base0f: #191970 !default;

@import "so-simple/skin";
